extends layout

block content
  body#page-top
    #wrapper

      ul.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion#accordionSidebar
        a.sidebar-brand.d-flex.align-items-center.justify-content-center