doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="")
    meta(name="author", content="")
    title= "Virtual Home Dashbard"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/sb-admin-2.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet', href='/css/sb-admin-2.min.css')
  body
    block content

      <!-- Bootstrap core JavaScript-->
    script(src="/vendor/jquery/jquery.min.js")
    script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")

      <!-- Core plugin JavaScript-->
    script(src="/vendor/jquery-easing/jquery.easing.min.js")

      <!-- Custom scripts for all pages-->
    script(src="/js/sb-admin-2.min.js")

      <!-- Page level plugins -->
    script(src="/vendor/chart.js/Chart.min.js")

      <!-- Page level custom scripts -->
    script(src="/js/demo/chart-area-demo.js")
    script(src="/js/demo/chart-pie-demo.js")
